spring:
  application:
    name: piilot
  profiles:
    active: local
    include: secret
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    root: info
    com.lastcommit.piilot: info