spring:
  application:
    name: piilot
  profiles:
    active: local
    include: secret
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100


logging:
  level:
    root: info
    com.lastcommit.piilot: info