spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/piilot_db
    username: ${LOCAL_DB_ID:piilot_user}
    password: ${LOCAL_DB_PW:piilot_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate # Flyway가 테이블 만들고, JPA는 엔티티와 실제 테이블 구조가 일치하는지 검증
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  docker:
    compose:
      enabled: false

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    com.lastcommit.piilot: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace